.todoList {
  min-height: 400px;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 24px 0px #000;
}

.todoList__addMore {
  /* margin-left: auto; */
  margin: 0;
}

.todoList__emptyMsg {
  font-size: 20px;
}

.todoList__addMore {
  color: #0078d4;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  margin-top: 20px;
  /* position: absolute;
  bottom: 0;
  right: 20px; */
}

.todoList__addMore:hover {
  text-decoration: underline;
}

.todoList__single {
  display: flex;
  /* background-color: #11255e; */
  background-color: #11255e;
  padding: 12px;
  width: 100%;
  color: white;
  border-bottom: 1px solid white;
}

.todoList__single p {
  margin: 0 12px 0 0;
  font-size: 14px;
  width: 25%;
}
