.home__header {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.home__header__title {
  background-color: #ffb900;
  padding: 12px;
  color: #fff;
}

.home__body {
  margin-top: 40px;
  width: 100%;
}
